<h1>Iniciar sesión</h1>

<%= form_for(:session, :url => sessions_path) do |f| %>
	<div class="field">
		<%= f.label :email %><br />
		<%= f.text_field :email %>
	</div>
	<div class="field">
		<%= f.label :password %><br />
		<%= f.password_field :password %>
	</div>
	<div class="actions">
		<%= f.submit "Iniciar Sesion"%>
	</div>
<% end %>
<p>Nuevo usuario? <%= link_to "Registrate!!", signup_path %></p>