<% if signed_in? %>
	<table class="front" summary="Página para usuarios registrados">
		<tr>
			<td class="main">
				<h1 class="micropost">¿Qué onda?</h1>
				<%= render 'shared/micropost_form' %>
				<%= render 'shared/feed' %>
			</td>
			<td class="sidebar round">
				<%= render 'shared/user_info' %>
				<%= render 'shared/stats' %>
			</td>
		</tr>
	</table>
<% else %>
	<h1>App de prueba</h1>
	<p>
  		Página de inicio para la aplicación de prueba del
  		<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  		Creada por JC.
	</p>
	<p>
		<h3>Testimonios de iTuits</h3>
		<blockquote>
		<strong>iTuits</strong> es la nueva red social 100% mexicana, inovadora y real, toda una idea millonaria.. 
		Yo les recomendé que quitaran el "The" iTuits, es más limpio <br/>
		<i>Sean Parkar</i>
		</blockquote>
		<blockquote>
		Yo me inscribí a <strong>iTuits</strong> después de crear Facebook! Debería de hacerles una oficina aquí en
		Palo Alto, California. Aquí es donde las cosas suceden!<br/>
		<i>Marko Sukerborg</i>
		</blockquote>
		<blockquote>
		Sabes que es verdad... Cuando <strong>iTuits</strong> excede tu abilidad para entender cómo funciona. 
		Se convierte en algo... mágico. <strong>iTuits</strong> es eso.. es mágico!<br/>
		<i>Esteve Jobs</i>
		</blockquote>
	</p>

	<%= link_to "Registrate aquí!", signup_path, :class => "boton_de_registro round"%>
<% end %>
